<!DOCTYPE html>
<html> 
  <head></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
  
    <!--Bootstrap -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    



    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/newstyle.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script> 
      <!-- for no html5 browsers support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

  </head>
  <body ng-app="myApp">
 
   

     <div class="header"> 
    <h1> <center>DETAIL PAGE</center></h1>

    <a href="/" class="btn btn-info" role="button">HOME</a>
     <a href="/order" class="btn btn-info" role="button">Order Here</a>
    </div>
 <span> Hello ,the creator of this page is Taniya singh. she is a brilliant and beautifull person</span>   
    
  </body>
  
 <script>
  
  var app = angular.module('myApp', ["ngFileUpload"]);
  app.controller('aboutus',function(Upload,$window,$scope){
console.log("taniyaaaaaaa");
      $http.post('/aboutus').
      success(function(){
        console.log("success")

      }).error(function(){
          console.log("try again")
      })

     });

    


  </script>
  
</html>
