<!DOCTYPE>
<html>
  <head> <title>admin login</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.3/angular-resource.min.js"></script>
    <!--Bootstrap -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/newstyle.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script> 
      <!-- for no html5 browsers support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>





</head>
<body ng-app="myApp" ng-controller="adminctrl" >

     <div class="header"> 
    <h1> <center>ADMIN LOGIN</center></h1>

    <a href="/" class="btn btn-info" role="button">HOME</a>
    

    </div>
    



<form  action="/admin" method="post">

            <table class="table">
            <br>
            <br>
              <tr>
                  <td>
                      <input type="text" class="form-control" name="name" ng-model="admindata.name" placeholder="Name" required>
                      <span ng-show="myForm.name.$touched">The name is required.</span>
                  </td>
              </tr>

              

              <tr>
                  <td>
                      <input type="password" class="form-control" name="password" ng-model="admindata.password" placeholder="password" required>
                      <span ng-show="myForm.selectedGender.$touched">The password is required.</span>
                  </td>
              </tr>
              <tr>
                <td>
                   <button type="submit" class="btn btn-info" ng-click="loginadmin()">login</button>
                </td>
              </tr>
            </table>
        </form> 

        </body>
        </html>
