
<!DOCTYPE>
<html>
  <head> <title>PRODUCT DETAILS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script> 
      <!-- for no html5 browsers support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/newstyle.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script> 
      <!-- for no html5 browsers support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="addprodctrl">

    <div class="header"> 
   		
		<a href="/"  class="btn btn-info" role="button">Home</a>
		<a href="/users"  class="btn btn-info" role="button">Manage User</a>
    <a href="/vieworder"  class="btn btn-info" role="button">Manage Order</a>
   	</div>
<div class="panel panel-info">
	<h1 class="panel-heading"> Add Product</h1>    

		<form class="panel-body" name=prodform action="/details"  method="post">

		    <table class="table">
		        <br>
		        <br>
		            <tr>
		                <td>
		                    <input type="text" name="prod_name"  ng-model="proddata.prod_name" placeholder="name of Product" required>
		                     <span ng-show="prodform.prod_price.$touched">The name is required.</span>
		                </td>
		            </tr>

		              

		            <tr>
		                <td>
		                    <input type="number" name="prod_price" ng-model="proddata.prod_price" placeholder="price of product" required>
		                    <span ng-show="prodform.prod_price.$touched">The price is required.</span>
		                </td>
		            </tr>
		            <tr>
		            <tr>
		                <td>
		                    <input type="text" name="prod_category" ng-model="proddata.prod_category" placeholder="category of product" required>
		                    <span ng-show="prodform.prod_category.$touched">category is required.</span>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                  	<button  class="btn btn-info" ng-click="addprod()">ADD PRODUCT </button>
		                </td>
		            </tr>
                <tr>
                <td>
                <div class="button" ngf-select="addimage($file)">Upload on file select</div>
                <!--  <input 
                         type="file" 
                         ngf-select 
                         ng-model="proddata.file" 
                         name="file" 
                         ngf-pattern="'image/*'"
                         accept="image/*" 
                         ngf-max-size="20MB" 
                         />
                         <button type="submit" ng-click="addimage()">upload image</button> -->

                </td>
                </tr>


        </table>

         

        <div class="row show-hide-message" ng-show="successmsg_add">
        <div class="alert alert-success" style="font-size: 12px;">{{successmsg_add}}</div> </div>

         <div class="row show-hide-message" ng-show="errormsg_add">
        <div class="alert alert-danger" style="font-size: 12px;">{{errormsg_add}}</div>
          
        </div>
		                 
                </form>
</div>
    

    <div class="panel panel-info">
    <h1 class="panel-heading"> View All Products</h1>    
		<form ng-submit="getprod()" >

           <button  class="btn btn-info">View Products </button>
           
           <input type="text" ng-model="query[queryBy]" placeholder="Search for..">
           <select ng-model="queryBy">
           <option value="$">All</option>
           <option value="prod_name">Name</option>
           <option value="prod_price">Price</option>
           <option value="prod_category">Category</option>
           <option value="prod_date">Date</option>
           </select>
           
           <br>
           <div ng-repeat="list in message | filter:query" class="list-group">
           <img src='/productImage/{{list.prod._id}}'/>
				<li class="list-group-item list-group-item-info">Name  : {{list.prod_name}} </li>
 				<li class="list-group-item list-group-item-info">Price : {{list.prod_price}}
 				<li class="list-group-item list-group-item-info">Category : {{list.prod_category}}
        <li class="list-group-item list-group-item-info">Date : {{list.prod_date}}    
			</div>	
           
        </div>
        </form>
     </div>   
        <br>

        <div class="panel panel-info">
        <h1 class="panel-heading"> Delete Product by Name</h1>   {{mesg}}
		<form name=form1  ng-submit="deleteproduct()" >

			<input type="text" name="name1" ng-model="formdata.name1" placeholder="Name of product" required>
                    
           <button  class="btn btn-info">DELETE PRODUCT </button>
           <br>
            <div class="row show-hide-message" ng-show="successmsg_del">
        <div class="alert alert-success" style="font-size: 12px;">{{successmsg_del}}</div>
          
        </div>
          
        </form> 
        <br>
</div>
<div class="panel panel-info">
     <h1 class="panel-heading">Update Product by Name</h1>    
    <form name=produpdate  ng-submit="upprod()">

        <table class="table">
            <br>
            <br>
                <tr>
                    <td>
                        <input type="text" name="up_name"  ng-model="updateprod.up_name" placeholder="name of Product" required>
                         <span ng-show="updateprod.up_name.$touched">The name is required.</span>
                    </td>
                </tr>



                <tr>
                    <td>
                        <input type="number" name="up_price" ng-model="updateprod.up_price" placeholder="price of product" required>
                        <span ng-show="updateprod.up_price.$touched">The price is required.</span>
                    </td>
                </tr>
               
                <tr>
                    <td>
                        <button  class="btn btn-info">Update </button>
                    </td>
                </tr>
        </table>
        <div class="row show-hide-message" ng-show="successmsg_update">
        <div class="alert alert-success" style="font-size: 12px;">{{successmsg_update}}</div>
          
        </div>
        
    </form>    
   </div> 
</body>

</html>




<script>
var app = angular.module('myApp', ["ngFileUpload"]);

 app.controller('addprodctrl',function($scope,$http,Upload,$window,$location)
  {

    $scope.addprod=function(proddata)
    {
    	console.log("taniyaaaaaaa",$scope.proddata);
      $http.post('/addprod',$scope.proddata).
      success(function(data)
      {
         $scope.errormsg=false;
        $scope.successmsg=false;
        //console.log("product addedddddddd");
        if(data.success)
        {
        $scope.successmsg_add=data.message;
        }
        else
        {
          $scope.errormsg_add=data.message;
        }

      }).error(function(data)
      {
        console.log()
      })
    }
    $scope.getprod=function()
    {
    	$http.get('/getproduct').
    	success(function(data)
    	{
    		$scope.message=data;
        
    		console.log("data in angular",$scope.message);
    	}).error(function(data)
    	{
    		console.log("sorry");
    	})
    }

    $scope.deleteproduct=function(formdata)
    {
    	//console.log("akljfhbgaldfla")
    	$http.post('/deleteproduct',$scope.formdata).
    	success(function(data)
    	{
    		console.log("deleted ");
        if(data.success)
        {
        $scope.successmsg_del=data.message;
        }
    	}).error(function(data)
    	{
    		console.log("sorry");
    	})
    }

    $scope.upprod=function(updateprod)
    {
      $http.post('/updateprod',$scope.updateprod).
      success(function(data)
      {
        $scope.errormsg=false;
        $scope.successmsg=false;
        console.log(data);

        

        if(data.success)
        {
        $scope.successmsg_update=data.message;
        }
        else
        {
        console.log("product dsnt exists,Try Again");
        }
      }).error(function(data)
        {
        console.log("try again");
        })
     }

      $scope.addimage=function(uploadFile)
      {
          if (uploadFile) {
            $scope.upload (uploadFile);
          } else
            console.log ('no file');

            // if ($scope.upload_form.proddata.file.$valid && $scope.proddata.file) 
            // {
            //   console.log("hiii "); 
            //     $scope.upload($scope.proddata.file); 
            // } else
            //   console.log ('invalid form');


      }
        //var vm = this;
        //vm.addimage = function(proddata){ 
          
            
        //}
        $scope.upload = function (file) 
        {
          $scope.prod_name= $scope.proddata.prod_name;
          console.log("giiiiiiii",$scope.proddata);
            Upload.upload
            ({
                url: 'http://localhost:3000/addimage/'+ $scope.proddata.prod_name, 
                data:{file:file} //pass file as data, should be user ng-model
            }).then(function (resp) 
                { //upload function returns a promise
                if(resp.data.status == 'success')
                { 
                    $window.alert('Success '+ resp.data.message );
                }
                else 
                {
                    $window.alert('an error occured');
                }
                }, function (resp) { //catch error
                console.log('Error status: ' + resp.status);
                $window.alert('Error status: ' + resp.status);
            });
        };



     $scope.query={prod_date:"Tue Apr 04 2017"}
     $scope.queryBy='$'  
   })
</script>


