<!DOCTYPE html>
<html>
  <head></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
  
    <!--Bootstrap -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/newstyle.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script> 
      <!-- for no html5 browsers support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

  </head>
  <body ng-app="myApp">
 
   

     <div class="header"> 
    <h1> <center>DETAIL PAGE</center></h1>

    <a href="/" class="btn btn-info" role="button">HOME</a>
     <a href="/order" class="btn btn-info" role="button">Order Here</a>
    

    </div>
    
    <div class="imgheader">
      WELCOME : <b> <%= data %> </b>
    </div>
    
       <div>
       <table style="width: 1200px;height: 300px;">
       <tr>
       <td style="font-size: 23px;"> 
      <b>Name : <%= data %><br>
         Email: <%= data1 %><br>
         I-ID : <%= data2 %><br>
    </b>
      
      </td>
  
      <td>  
        <form  ng-controller="imgctrl as up" name="up.upload_form" ng-submit="up.submit()">
            <input 
               type="file" 
               ngf-select 
               ng-model="up.file" 
               name="file" 
               ngf-pattern="'image/*'"
               accept="image/*" 
               ngf-max-size="20MB" 
               />


             Image thumbnail:
              <img style=" padding-left: 40px; width:250px; height: 150px; padding-top: 20px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/getimage'"/>
            <i ng-show="up.upload_form.file.$error.required">*required</i><br>
            <i ng-show="up.upload_form.file.$error.maxSize">File too large 
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
            <button type="submit">submit</button>
            <p>{{up.progress}} </p>
            {{msg}}
        </form>
       </td> 
       </tr>
  </table>
</div>
   

  </body>
  <script>
  
  var app = angular.module('myApp', ["ngFileUpload"]);
  app.controller('imgctrl',function(Upload,$window,$scope){


        var vm = this;
        vm.submit = function(){ 
            if (vm.upload_form.file.$valid && vm.file) { 
                vm.upload(vm.file); 
            }
        }
        vm.upload = function (file) {
            Upload.upload({
                url: 'http://localhost:3000/image', 
                data:{file:file} //pass file as data, should be user ng-model
            }).then(function (resp) { //upload function returns a promise
                if(resp.data.status == 'success'){ 
                    $window.alert('Success '+ resp.data.message );
                } else {
                    $window.alert('an error occured');
                }
            }, function (resp) { //catch error
                console.log('Error status: ' + resp.status);
                $window.alert('Error status: ' + resp.status);
            });
        };
    });



    


  </script>

  
</html>
