<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.3/angular-resource.min.js"></script>
    <!--Bootstrap -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/angularapp.js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/newstyle.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script> 
      <!-- for no html5 browsers support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

  </head>
  <body ng-app="myApp" ng-init="selectedGender='Female'" >
  <ui-view></ui-view> 
   
   
     </div>

   <script type="text/ng-template" id="/home.html">
     <div class="header"> 
     <br>
     <br>
    

    <a href="/login" class="btn btn-info" role="button">LOGIN HERE</a>
    
    <a href="/admin" class="btn btn-info" role="button" style="margin-left: 850px;">ADMIN PANEL </a>
    <a href="/aboutus" class="btn btn-info" role="button" style="margin-left: 850px;">ABOUT US </a>

    </div>
    
    <div class="firstpage" >
       
      <h1 style="padding-left: 800px; ">Sign up For Free</h1>
       

          <div class="container" style="width: 530px; margin-left: 730px;">
            <form class="form-horizontal" role="form" ng-submit="submit()">
              
                <div class="form-group">
                    <!-- <label for="firstName" class="col-sm-3 control-label">Full Name</label> -->
                    <div class="col-sm-9">
                        <input type="text" id="firstName" ng-model="formdata.name"  placeholder="Full Name" class="form-control" autofocus required>
                        <span class="help-block">First Name,Last Name  eg.:  Harry,Smith</span>
                    </div>
                </div>
                <div class="form-group">
                   <!--  <label for="email" class="col-sm-3 control-label">Email</label>
                    --> <div class="col-sm-9">
                        <input type="email" id="email" ng-model="formdata.email" placeholder="Email" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                   <!--  <label for="password" class="col-sm-3 control-label">Password</label>
                    --> <div class="col-sm-9">
                        <input type="password" id="password" ng-model="formdata.password"  placeholder="Password" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                   <!--  <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    --> <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control"  ng-model="formdata.dob" required>
                    </div>
                </div>
                <div class="form-group">
                   <!--  <label for="country" class="col-sm-3 control-label">Country</label>
                    --> <div class="col-sm-9">
                        <select id="country" class="form-control" ng-model="formdata.country"  required>
                            <option>Afghanistan</option>
                            <option>India</option>
                            <option>USA</option>
                            <option>Denmark</option>
                            <option>Pakistan</option>
                            <option>Fiji</option>
                            <option>Canada</option>
                            <option>Haiti</option>
                        </select>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                   <!--  <label class="control-label col-sm-3">Gender</label>
                    --> <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="femaleRadio"  ng-model="formdata.gender" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="maleRadio" ng-model="formdata.gender"  value="Male">Male
                                </label>
                            </div>
                            
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">I accept <a href="#" required>terms</a>
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 ">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form> <!-- /form -->
             <div class="row show-hide-message" ng-show="successmsg">
                  <div class="alert alert-success" style="font-size: 12px;">{{successmsg}}</div> </div>

                   <div class="row show-hide-message" ng-show="errormsg">
                  <div class="alert alert-danger" style="font-size: 12px;">{{errormsg}}</div>
                  </div>

        </div> <!-- ./container -->
       








      
       </div>  
   </script>



   

  </body>
</html>
