<!DOCTYPE>
<html>
  <head><title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.3/angular-resource.min.js"></script>
    <!--Bootstrap -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/newstyle.css' />
    <link rel='stylesheet' href='/stylesheets/login.css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script> 
      <!-- for no html5 browsers support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

  </head>
  <body>
   <div class="header"> 
    

    <a href="/" class="btn btn-info" role="button">HOME</a>
    

    </div>
<h1> <center>LOGIN HERE</center></h1>
<form action="/login" method="post" style="width: 800px;height: 300px;padding-left: 300px; padding-top: 50px;">
    <div>
        <label>Username:</label>
        <input type="text"  class="form-control" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" class="form-control" name="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-info" value="Log In"/>
    </div>
</form>
</body>
</html>



