
<!DOCTYPE>
<html>
  <head> 
  <title>PRODUCT DETAILS</title>
  
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  

    

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/newstyle.css' />

</head>

<body ng-app="myApp" ng-controller="userctrl">

    <div class="header"> 
   		<h1> <center>Shopping Cart</center></h1>
		  <a href="/"  class="btn btn-info" role="button">Home</a>
		</div>

	
    <h2> View Users</h2>    
		<form  ng-submit="getuser()">
          <button class="btn btn-info" >View All</button>
           <br>
           <div ng-repeat="detail in mess" class="list-group">
				        <li class="list-group-item list-group-item-info">Name  : {{detail.name}} </li>
 				        <li class="list-group-item list-group-item-info">Email : {{detail.email}}
 				        <li class="list-group-item list-group-item-info">Id : {{detail._id}}  
			     </div>	
          
    </form>
        
        <br>

    <h1> Delete a User</h1>   
    <form name=form1  ng-submit="deleteuser()" >
    <input type="text" name="name1" ng-model="formdata.name1" placeholder="Name of User" required>
    <button  class="btn btn-info">DELETE USER </button>
    <br>
          
    </form> 
 

</body>
</html>



<script>
var app = angular.module('myApp', []);

 app.controller('userctrl',function($scope,$http)
  {

    $scope.getuser=function()

    {
      //console.log("hioiiiiii")
    	$http.get('/getuser').
    	success(function(data)
    	{
    		$scope.mess=data;
    		//console.log(data);
    	}).error(function(data)
    	{
    		console.log("sorry");
    	})
    }


    $scope.deleteuser=function(formdata)
    { 
      //console.log("akljfhbgaldfla")
      $http.post('/deleteuser',$scope.formdata).
      success(function(data)
      {
        console.log("deleted ");
      }).error(function(data)
      {
        console.log("sorry");
      })
    }




})

</script>







