
<!DOCTYPE>
<html>
  
  <head> <title>PRODUCT DETAILS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <!--Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/newstyle.css' />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>

  
  <body ng-app="myApp" ng-controller="addprodctrl">
      <div class="header"> 
   		<a href="/"  class="btn btn-info" role="button">Home</a>
   	  </div >
   
       <h1> <center>Place your order here</center></h1><br>  

         
		  <form >
      <div class="row show-hide-message" ng-show="successmsg">
        <div class="alert alert-success" style="font-size: 12px;">{{successmsg}}</div> </div>

        <div class="row show-hide-message" ng-show="errormsg">
        <div class="alert alert-success" style="font-size: 12px;">{{errormsg}}</div>  </div>
            <table>
                <tr>
                  <td><input type="text" ng-model="list.prod_name" name="list.prod_name" placeholder=" selected product name" required ></td>
                  <td><input type="number" name="prod_price" ng-model="list.prod_price" placeholder=" selected product price" required></td>
                  <td><input type="text" name="prod_category" ng-model="list.prod_category" placeholder=" selected product category" required>
                  </td>
                  <td>
                    <BUTTON ng-click="addorder()">Order Now</BUTTON>
                  </td>
                </tr>
            </table>



    </form>
        
        <br>

      <button  class="btn btn-info" ng-click="getprod()">View All Products </button>
      
      <div ng-repeat="list in message" class="displayproducts">
      <br>
      <div class="col-sm-3">
          <article class="col-item">
            <div class="photo">
             <img src="/getproductimage/{{list.prod_name}}" class="img-responsive" alt="Product Image" /> </a>
            </div>
            <div class="info">
              <div class="row">
                <div class="price-details col-md-6">
                  <p class="details" ng-model="listdata.prod_name">
                    Name :{{list.prod_name}} 
                  </p>
                   <p class="details"  ng-model="listdata.prod_price">
                    Price :{{list.prod_price}}
                  </p>
                  <!-- <span class="price-new" ng-model="listdata.prod_price">Price :{{list.prod_price}}</span> -->
                  <li button class="btn btn-Success" ng-click="select(list)">Select </button> </li>
                </div>
              </div>
              <div class="separator clear-left">
                <p class="btn-add">
                  <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a>
                </p>
                <p class="btn-details">
                  <a href="#" class="hidden-sm" data-toggle="tooltip" data-placement="top" title="Add to wish list"><i class="fa fa-heart"></i></a>
                  <a href="#" class="hidden-sm" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fa fa-exchange"></i></a>
                </p>
              </div>
             <div class="clearfix"></div>
            </div>

          </article>
        </div>
        </div>
  </body>
  </html>



<script>
var app = angular.module('myApp', ["ngFileUpload"]);

 app.controller('addprodctrl',function($scope,$http,$location)
  {

    
    $scope.getprod=function()
    {
    	$http.get('/getproduct').
    	success(function(data)
    	{
    		$scope.message=data;
    		//console.log(data);
    	}).error(function(data)
    	{
    		console.log("sorry");
    	})
    }

    $scope.deleteproduct=function(formdata)
    {
    	//console.log("akljfhbgaldfla")
    	$http.post('/deleteproduct',$scope.formdata).
    	success(function(data)
    	{
    		console.log("deleted ");
    	}).error(function(data)
    	{
    		console.log("sorry");
    	})
    }
    $scope.select=function(list)
    {
      //console.log(list);
      $scope.list=list;
    }
    $scope.addorder=function()
    {
      //console.log("hii taniya");
      $http.post('/addorder',$scope.list).
      success(function(data)
      {
         $scope.errormsg=false;
        $scope.successmsg=false;
        if(data.success)
        {
        //console.log("fasdfggf",data);
        $scope.successmsg=data.message;

        //console.log("order placed successfully");
        }
        else
        {
          $scope.errormsg=data.message;

        }

      }).error(function(data)
      {
        console.log("try again");
      })
    }


  })

</script>
