
<!DOCTYPE>
<html>
  <head> 
  <title>PRODUCT DETAILS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/newstyle.css' />
</head>

<body ng-app="myApp" ng-controller="vieworderctrl">

    <div class="header"> 
      <h1> <center>Manage order</center></h1>
    <a href="/"  class="btn btn-info" role="button">Home</a>
    <a href="/users"  class="btn btn-info" role="button">Manage User</a>
    <a href="/vieworder"  class="btn btn-info" role="button">Manage Order</a>
   
    

    
    <h1 class="panel-heading"> View All Orders</h1>    
    <form ng-submit="getorder()" >

           <button  class="btn btn-info">View Orders </button>
           
           <input type="text" ng-model="query[queryBy]" placeholder="Search for..">
               <select ng-model="queryBy">
               <option value="$">All</option>
               <option value="userid">UserId</option>
               <option value="prod_name">Name</option>
               <option value="prod_price">Price</option>
              </select>
               
           <div ng-repeat="list in message | filter:query" class="list-group">
          <li class="list-group-item list-group-item-info">UserId : {{list.userid}} 
          <li class="list-group-item list-group-item-info">Product Name  : {{list.prod_name}} </li>
          <li class="list-group-item list-group-item-info">Product Price : {{list.prod_price}}
          <li class="list-group-item list-group-item-info">Product Category : {{list.prod_category}}
          <li class="list-group-item list-group-item-info"> Ordering Date : {{list.prod_date}}    
          </div>  
  </form>

  <h1 class="panel-heading">View orders by date range</h1>
 
  <form  >
    <label> Search between dates</label>
      <input type="text"  placeholder="Date1" name=date1 ng-model="dateform.date1">
      <input type="text"  placeholder="Date2" name=date2 ng-model="dateform.date2">
      <button class="btn btn-info" ng-click="getorderbydate(dateform)">View orders</button>
      
      <div ng-repeat="list in mesg" class="list-group">
          <li class="list-group-item list-group-item-info">UserId : {{list.userid}} 
          <li class="list-group-item list-group-item-info">Product Name  : {{list.prod_name}} </li>
         <li class="list-group-item list-group-item-info">Product Price : {{list.prod_price}}
          <li class="list-group-item list-group-item-info">Product Category : {{list.prod_category}}
         <li class="list-group-item list-group-item-info"> Ordering Date : {{list.prod_date}}    
      </div>  
  </form> 


  </body>
</html>




<script>
var app = angular.module('myApp', []);

 app.controller('vieworderctrl',function($scope,$http)
  {



    /*$scope.addprod=function(proddata)
    {
      console.log("taniyaaaaaaa",$scope.proddata);
      $http.post('/addprod',$scope.proddata).
      success(function(data)
      {
        console.log("product addedddddddd");
        if(data.success)
        {
        $scope.successmsg_add=data.message;
        }

      }).error(function(data)
      {
        console.log()
      })
    }*/
    $scope.getorder=function()
    {
      $http.get('/getorders').
      success(function(data)
      {
        $scope.message=data;
        
        //console.log(data);
      }).error(function(data)
      {
        console.log("sorry");
      })
    }

    $scope.getorderbydate=function(dateform)
    {
      console.log("date1",dateform);
      console.log("date1",dateform.date1);
      console.log("date1",dateform.date2);

      $http.post('/getorderbyrangedate',$scope.dateform).
      success(function(data)
      {
        $scope.mesg=data;
        console.log("here is",data);

      }).error(function(data)
      {
        console.log("err");

      })
    }

    /*$scope.deleteproduct=function(formdata)
    {
      //console.log("akljfhbgaldfla")
      $http.post('/deleteproduct',$scope.formdata).
      success(function(data)
      {
        console.log("deleted ");
        if(data.success)
        {
        $scope.successmsg_del=data.message;
        }
      }).error(function(data)
      {
        console.log("sorry");
      })
    }

    $scope.upprod=function(updateprod)
    {
      $http.post('/updateprod',$scope.updateprod).
      success(function(data)
      {
        $scope.errormsg=false;
        $scope.successmsg=false;
        console.log(data);

        

        if(data.success)
        {
        $scope.successmsg_update=data.message;
        }
        else
        {
        console.log("product dsnt exists,Try Again");
        }
      }).error(function(data)
        {
        console.log("try again");
        })
     }
     $scope.query={ }
     $scope.queryBy='$'  */
   })
</script>


